/* ------------------------------------------------------------ *\
	List
\* ------------------------------------------------------------ */

.list,
[class^="list-"] {
	list-style: none outside none;
}

/* ------------------------------------------------------------ *\
	list-popups
\* ------------------------------------------------------------ */

.list-popups {
	padding: 30px; 
	min-height: 120vh; 

	li + li {
		margin-top: 10px; 
	}
}
