<div class="popups js-popups">
	<div id="popup-1" class="popup popup-1 js-popup">
		<div class="popup__background js-popup-close"></div><!-- /.popup__background -->

		<div class="popup__inner">
			<div class="popup__content">
				<a href="#" class="popup__close js-popup-close">
					<span class="icon-close">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
					</span>
				</a>

				<div class="article article--1">
					<h2>article title</h2>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui quaerat voluptatum similique deleniti, obcaecati sapiente incidunt libero officiis laboriosam, eveniet? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis deleniti ipsam officia quibusdam consequuntur fuga unde, aperiam sit eaque amet nisi. Ipsam eligendi, excepturi harum ratione fuga vitae beatae dolorum?</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui quaerat voluptatum similique deleniti, obcaecati sapiente incidunt libero officiis laboriosam, eveniet? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, adipisci est, dolorem enim, accusantium iure ipsa beatae perferendis quam iste dolorum. Veniam iure dolor alias amet voluptatem. Magni, quisquam, vel?</p>
				</div><!-- /.article -->
			</div><!-- /.popup__content -->
		</div><!-- /.popup__inner -->
	</div><!-- /.popup -->

	<div id="popup-2" class="popup popup-2 js-popup">
		<div class="popup__background js-popup-close"></div><!-- /.popup__background -->

		<div class="popup__inner">
			<div class="popup__content">
				<a href="#" class="popup__close js-popup-close">
					<span class="icon-close">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
					</span>
				</a>

				<div class="article article--2">
					<h2>article title</h2>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui quaerat voluptatum similique deleniti, obcaecati sapiente incidunt libero officiis laboriosam, eveniet? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, laborum magnam iusto expedita laudantium dolor officiis cum quis aliquam doloribus et maxime eum consectetur enim tenetur sapiente nobis ipsam ducimus?</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui quaerat voluptatum similique deleniti, obcaecati sapiente incidunt libero officiis laboriosam, eveniet? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem velit, eligendi non. Eaque alias, repellat delectus aliquid similique optio fuga quibusdam recusandae consectetur quia perspiciatis tenetur sed dolorum, incidunt sequi.</p>
				</div><!-- /.article -->
			</div><!-- /.popup__content -->
		</div><!-- /.popup__inner -->
	</div><!-- /.popup -->

	<div id="popup-3" class="popup popup-3 js-popup">
		<div class="popup__background js-popup-close"></div><!-- /.popup__background -->

		<div class="popup__inner">
			<div class="popup__content">
				<a href="#" class="popup__close js-popup-close">
					<span class="icon-close">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
					</span>
				</a>

				<div class="article article--3">
					<h2>article title</h2>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui quaerat voluptatum similique deleniti, obcaecati sapiente incidunt libero officiis laboriosam, eveniet? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, quod vel. Ipsa numquam ab saepe, hic, voluptatibus dolorum similique fuga asperiores laboriosam reiciendis distinctio, veritatis, ex ipsum dolorem voluptatum quibusdam!</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui quaerat voluptatum similique deleniti, obcaecati sapiente incidunt libero officiis laboriosam, eveniet? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita dolores deserunt eius illum doloremque quaerat facere nisi officia, numquam enim aliquid ratione natus veritatis inventore recusandae quas ut est consectetur.</p>
				</div><!-- /.article -->
			</div><!-- /.popup__content -->
		</div><!-- /.popup__inner -->
	</div><!-- /.popup -->

	<div id="popup-4" class="popup popup-4 js-popup">
		<div class="popup__background js-popup-close"></div><!-- /.popup__background -->

		<div class="popup__inner">
			<div class="popup__content">
				<a href="#" class="popup__close js-popup-close">
					<span class="icon-close">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
					</span>
				</a>

				<div class="article article--4">
					<h2>article title</h2>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui quaerat voluptatum similique deleniti, obcaecati sapiente incidunt libero officiis laboriosam, eveniet? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam officiis fuga aliquid quasi, itaque veritatis ducimus. Voluptate nisi dolore ullam fuga repellat iste laboriosam, magni aperiam porro maxime doloremque, ratione?</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui quaerat voluptatum similique deleniti, obcaecati sapiente incidunt libero officiis laboriosam, eveniet? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel totam ullam aliquid vitae cum quos quis deserunt earum eveniet ipsa aut, incidunt! Doloremque hic quod porro ea consequatur, dolores temporibus.</p>
				</div><!-- /.article -->
			</div><!-- /.popup__content -->
		</div><!-- /.popup__inner -->
	</div><!-- /.popup -->
</div><!-- /.popups -->
