<div class="popups js-popups">
	<div id="popup-1" class="popup popup-1 js-popup">
		<div class="popup__background js-popup-close"></div><!-- /.popup__background -->

		<div class="popup__inner">
			<div class="popup__content">
				<a href="#" class="popup__close js-popup-close">
					<span class="icon-close">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
					</span>
				</a>

				<div class="article">
					<h2>article title</h2>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui quaerat voluptatum similique deleniti, obcaecati sapiente incidunt libero officiis laboriosam, eveniet?</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui quaerat voluptatum similique deleniti, obcaecati sapiente incidunt libero officiis laboriosam, eveniet?</p>
				</div><!-- /.article -->
			</div><!-- /.popup__content -->
		</div><!-- /.popup__inner -->
	</div><!-- /.popup -->

	<div id="popup-2" class="popup popup-2 js-popup">
		<div class="popup__background js-popup-close"></div><!-- /.popup__background -->

		<div class="popup__inner">
			<div class="popup__content">
				<a href="#" class="popup__close js-popup-close">
					<span class="icon-close">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
					</span>
				</a>

				<div class="article">
					<h2>article title</h2>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui quaerat voluptatum similique deleniti, obcaecati sapiente incidunt libero officiis laboriosam, eveniet?</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui quaerat voluptatum similique deleniti, obcaecati sapiente incidunt libero officiis laboriosam, eveniet?</p>
				</div><!-- /.article -->
			</div><!-- /.popup__content -->
		</div><!-- /.popup__inner -->
	</div><!-- /.popup -->

	<div id="popup-3" class="popup popup-3 js-popup">
		<div class="popup__background js-popup-close"></div><!-- /.popup__background -->

		<div class="popup__inner">
			<div class="popup__content">
				<a href="#" class="popup__close js-popup-close">
					<span class="icon-close">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
					</span>
				</a>

				<div class="article">
					<h2>article title</h2>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui quaerat voluptatum similique deleniti, obcaecati sapiente incidunt libero officiis laboriosam, eveniet?</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui quaerat voluptatum similique deleniti, obcaecati sapiente incidunt libero officiis laboriosam, eveniet?</p>
				</div><!-- /.article -->
			</div><!-- /.popup__content -->
		</div><!-- /.popup__inner -->
	</div><!-- /.popup -->

	<div id="popup-4" class="popup popup-4 js-popup">
		<div class="popup__background js-popup-close"></div><!-- /.popup__background -->

		<div class="popup__inner">
			<div class="popup__content">
				<a href="#" class="popup__close js-popup-close">
					<span class="icon-close">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
					</span>
				</a>

				<div class="article">
					<h2>article title</h2>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui quaerat voluptatum similique deleniti, obcaecati sapiente incidunt libero officiis laboriosam, eveniet?</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui quaerat voluptatum similique deleniti, obcaecati sapiente incidunt libero officiis laboriosam, eveniet?</p>
				</div><!-- /.article -->
			</div><!-- /.popup__content -->
		</div><!-- /.popup__inner -->
	</div><!-- /.popup -->
</div><!-- /.popups -->
